@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #aa00ff #d8abee;
}

*::-webkit-scrollbar-track {
  background: #d8abee;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d8abee;
  border-radius: 14px;
  border: 3px solid #aa00ff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Satoshi Variable Regular", Sans-serif !important;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --title: 112px;
  --subtitle: 32px;
  --description: 18px;
}
.slide-track {
  animation: scroll 40s linear infinite;
}
.slide-track2 {
  animation: scroll2 25s linear infinite;
}
.bannerImg {
  mix-blend-mode: screen;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-9 * 250px));
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-5 * 240px));
  }
}

@font-face {
  font-family: "Satoshi Variable Light";
  src: url("./assests/acros-media/Satoshi-Light.woff");
}

.font-satoshi-light {
  font-family: "Satoshi Variable Light";
}

@font-face {
  font-family: "Satoshi Variable Medium";
  src: url("./assests/acros-media/Satoshi-Medium.woff");
}

.font-satoshi-medium {
  font-family: "Satoshi Variable Medium";
}

@font-face {
  font-family: "Satoshi Variable Bold";
  src: url("./assests/acros-media/Satoshi-Bold.woff");
}

.font-satoshi-bold {
  font-family: "Satoshi Variable Bold" !important;
}

@font-face {
  font-family: "Satoshi Variable Regular";
  src: url("./assests/acros-media/Satoshi-Regular.woff");
}

.font-satoshi-regular {
  font-family: "Satoshi Variable Regular";
}
